<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        class="nav-item category"
        (click)="showTaskByCategory(null)"
        [class.active]="!selectedCategory"
      >
        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
        </a>
      </li>

      <div class="line"></div>

      <li class="nav-item pointer"
          *ngFor="let category of categories"
          (click)="showTaskByCategory(category)"
          [class.active]="category === selectedCategory"
      >
        <a class="nav-link">
          <p>{{category.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
